.container-dieukien {
    font-family        : 'Montserrat';
    // background-color: red;
    width              : 85%;
    margin             : auto;

    .breadcrumb {
        font-family: 'Montserrat';
    }

    h3 {
        font-family: 'Montserrat';
        font-weight: 600;
        text-align : start;
    }

    .content {

        width: 85%;

        ol {
            padding-left: 50px;
        }

        li {
            color       : #4F4F4F;
            padding-left: 16px;
            margin-top  : 24px;
            position    : relative;
            font-size   : 16px;
            line-height : 20px;

            &:before {
                content         : '';
                display         : block;
                height          : 42px;
                width           : 42px;
                border-radius   : 50%;
                border          : 2px solid #ddd;
                position        : absolute; // yeah, you have to manually position it based on the text size, line height, etc. (in the parent li style). it's not the smarest solution 
                // top          : -12px;
                left            : -46px;
            }
        }

        strong {
            color: #292929;
        }

        ol.alternating-colors {
            li:nth-child(odd):before {
                border-color: #0BAD02;
            }

            li:nth-child(even):before {
                border-color: #2378D5;
            }
        }

        li {
            text-align: start;
        }

        p {
            margin-top: 5px;
        }
    }
}