.time-line {
    color: red;
}

.container-thuctap {
    font-family        : 'Montserrat';
    // background-color: red;
    width              : 85%;
    margin             : auto;

    .breadcrumb {
        font-family: 'Montserrat';
    }

    .container-tb-update {
        padding-bottom: 1rem;

        h3 {
            font-family: 'Montserrat';
            text-align : start;
            font-weight: 600;
        }

        h6 {
            font-family: 'Montserrat';
            text-align : start;

        }
    }

    .container-dky {
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 1rem;

    }

    h5 {
        font-family: 'Montserrat';
        text-align : start;

    }

}