.time-line {
    color: red;
}

.container-thuctap {
    font-family        : 'Montserrat';
    // background-color: red;
    width              : 85%;
    margin             : auto;

    .breadcrumb {
        font-family: 'Montserrat';
    }

    .container-tb-update {
        padding-bottom: 1rem;

        h3 {
            font-family: 'Montserrat';
            text-align : start;
            font-weight: 600;
        }

        h6 {
            font-family: 'Montserrat';
            text-align : start;
        }
    }

    .inputDK {
        width : 100% !important;
        margin: 0 !important;
    }

    h5 {
        text-align: start;
    }

    h3 {
        text-align : start;
        font-family: 'Montserrat';
        text-align : start;
        font-weight: 600;
    }

    .content-dkythuctap {
        label {
            text-align    : start;
            // font-weight: 400;
        }
    }
}

.select-tt {
    background-color: #202C45;
    color           : white;
    border-radius   : 5px;
    height          : 2.5rem;
    width           : 100%;
    display         : flex;
    justify-items   : start;
}

.vitri-tt {
    margin-top  : 1rem;
    margin-right: 1rem;

    label {
        font-size  : 18px;
        font-weight: 400;
    }
}