.select-btnn {
    background-color: #202C45;
    color           : white;
    border-radius   : 5px;
    height          : 2.5rem;
    width           : 50%;
    display         : flex;
    justify-items   : start;
}